.lightbox{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, .9);
    z-index: 10;
    animation: lightboxIn .5s;
}

.lightbox__next, .lightbox__prev{
    border: none;
    background: url(image/arrow.svg) center center/ 16px 28px no-repeat;
    cursor: pointer;
    width: 60px;
    height: 100%;
    position: fixed;
    top: 0;
    right: 0;
    margin-top: -20px;
    opacity: .5;
    text-indent: -3000px;
    transition: .3s;
}

.lightbox__prev{
    right: auto;
    left: 0;
    transform: rotate(180deg);
}

.lightbox__close{
    background: url(image/close.svg) center center/ 49px 49px no-repeat transparent;
    width: 49px;
    height: 49px;
    border: none;
    position: fixed;
    top: 50px;
    right: 70px;
}

.lightbox button{
    opacity: .5;
    text-indent: -3000px;
    z-index: 11;
    cursor: pointer;
    transition: opacity .3s;
}

.lightbox button:hover{
    opacity: 1;
}

.lightbox__container img{
    max-width: 100%;
    animation: lightboxIn .5s;
    height: auto;
}

.lightbox__container{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 50px;
    margin-right: 50px;
    min-height: 100vh;
}

@keyframes lightboxIn{
    from{opacity: 0;}
    to{opacity: 1;}
}