body{
    margin: 0;
}

.grid{
    padding: 1rem;
    display: grid;
    justify-content: center;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    grid-gap: 1rem;
}

.grid img{
    display: block;
    width: 100%;
}